<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Movie Rental System</title>
    <!-- Compiled and minified CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
          rel="stylesheet">

    <!-- Compiled and minified JavaScript -->
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body style="max-width: 960px; margin: 16px auto; padding: 16px">
<h3>Add New User</h3>
<!-- The th:action="@{/saveUser}" expression directs the form to POST to the /saveUser endpoint.
     The th:object="${user}" expression declares the model object to use for collecting the form data.
     The three form fields, expressed with th:field, correspond to the fields in the User object. -->
<form method="post" th:action="@{/save}" th:object="${user}">
    <div class="row">
        <div class="input-field col s6">
            <input class="validate" id="first_name" th:field="*{firstName}"
                   type="text"> <label for="first_name">First
            Name</label>
        </div>
        <div class="input-field col s6">
            <input class="validate" id="last_name" th:field="*{lastName}"
                   type="text"> <label for="last_name">Last
            Name</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            <input class="validate" id="email" th:field="*{email}" type="email">
            <label for="email">Email</label>
        </div>
    </div>
    <button class="waves-effect waves-light btn" type="submit">Add
        User
    </button>
</form>
<br>
<!-- The link which sends GET request to "/"  -->
<a class="blue-text"
   th:href="@{/admin}">Back</a>
</body>
</html>